<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Regression</td><td>ServiceMaster.Service_List_Test6(java.lang.String)[pri:8, instance:com.tatahealth.EMR.Scripts.MasterAdministration.ServiceMaster@1a451d4d]<br/>ServiceMaster.Service_List_Test3(java.lang.String)[pri:4, instance:com.tatahealth.EMR.Scripts.MasterAdministration.ServiceMaster@1a451d4d]<br/>ServiceMaster.Service_List_Test4(java.lang.String)[pri:5, instance:com.tatahealth.EMR.Scripts.MasterAdministration.ServiceMaster@1a451d4d]<br/>ServiceMaster.Service_Doctor4_Test(java.lang.String)[pri:13, instance:com.tatahealth.EMR.Scripts.MasterAdministration.ServiceMaster@1a451d4d]<br/>ServiceMaster.Service_List_Test1(java.lang.String)[pri:2, instance:com.tatahealth.EMR.Scripts.MasterAdministration.ServiceMaster@1a451d4d]<br/>ServiceMaster.Service_Doctor1_Test(java.lang.String)[pri:10, instance:com.tatahealth.EMR.Scripts.MasterAdministration.ServiceMaster@1a451d4d]<br/>ServiceMaster.Service_Doctor2_Test(java.lang.String)[pri:11, instance:com.tatahealth.EMR.Scripts.MasterAdministration.ServiceMaster@1a451d4d]<br/>ServiceMaster.Service_List_Test7(java.lang.String)[pri:7, instance:com.tatahealth.EMR.Scripts.MasterAdministration.ServiceMaster@1a451d4d]<br/>ServiceMaster.Service_List_Test5(java.lang.String)[pri:6, instance:com.tatahealth.EMR.Scripts.MasterAdministration.ServiceMaster@1a451d4d]<br/>ServiceMaster.ServiceMasterTest(java.lang.String)[pri:9, instance:com.tatahealth.EMR.Scripts.MasterAdministration.ServiceMaster@1a451d4d]<br/>ServiceMaster.Service_List_Test2(java.lang.String)[pri:3, instance:com.tatahealth.EMR.Scripts.MasterAdministration.ServiceMaster@1a451d4d]<br/>ServiceMaster.Service_Close_Test(java.lang.String)[pri:1, instance:com.tatahealth.EMR.Scripts.MasterAdministration.ServiceMaster@1a451d4d]<br/>ServiceMaster.Service_Doctor3_Test(java.lang.String)[pri:12, instance:com.tatahealth.EMR.Scripts.MasterAdministration.ServiceMaster@1a451d4d]<br/>ServiceMaster.Service_Save_Test(java.lang.String)[pri:14, instance:com.tatahealth.EMR.Scripts.MasterAdministration.ServiceMaster@1a451d4d]<br/></td></tr>
<tr><td>ServiceMasterTest</td><td>ServiceMaster.ServiceMasterTest(java.lang.String)[pri:9, instance:com.tatahealth.EMR.Scripts.MasterAdministration.ServiceMaster@1a451d4d]<br/></td></tr>
<tr><td>Service_Close_Test</td><td>ServiceMaster.Service_Close_Test(java.lang.String)[pri:1, instance:com.tatahealth.EMR.Scripts.MasterAdministration.ServiceMaster@1a451d4d]<br/></td></tr>
<tr><td>Service_Doctor1_Test</td><td>ServiceMaster.Service_Doctor1_Test(java.lang.String)[pri:10, instance:com.tatahealth.EMR.Scripts.MasterAdministration.ServiceMaster@1a451d4d]<br/></td></tr>
<tr><td>Service_Doctor2_Test</td><td>ServiceMaster.Service_Doctor2_Test(java.lang.String)[pri:11, instance:com.tatahealth.EMR.Scripts.MasterAdministration.ServiceMaster@1a451d4d]<br/></td></tr>
<tr><td>Service_Doctor3_Test</td><td>ServiceMaster.Service_Doctor3_Test(java.lang.String)[pri:12, instance:com.tatahealth.EMR.Scripts.MasterAdministration.ServiceMaster@1a451d4d]<br/></td></tr>
<tr><td>Service_Doctor4_Test</td><td>ServiceMaster.Service_Doctor4_Test(java.lang.String)[pri:13, instance:com.tatahealth.EMR.Scripts.MasterAdministration.ServiceMaster@1a451d4d]<br/></td></tr>
<tr><td>Service_List_Test1</td><td>ServiceMaster.Service_List_Test1(java.lang.String)[pri:2, instance:com.tatahealth.EMR.Scripts.MasterAdministration.ServiceMaster@1a451d4d]<br/></td></tr>
<tr><td>Service_List_Test2</td><td>ServiceMaster.Service_List_Test2(java.lang.String)[pri:3, instance:com.tatahealth.EMR.Scripts.MasterAdministration.ServiceMaster@1a451d4d]<br/></td></tr>
<tr><td>Service_List_Test3</td><td>ServiceMaster.Service_List_Test3(java.lang.String)[pri:4, instance:com.tatahealth.EMR.Scripts.MasterAdministration.ServiceMaster@1a451d4d]<br/>ServiceMaster.Service_List_Test4(java.lang.String)[pri:5, instance:com.tatahealth.EMR.Scripts.MasterAdministration.ServiceMaster@1a451d4d]<br/></td></tr>
<tr><td>Service_List_Test4</td><td>ServiceMaster.Service_List_Test6(java.lang.String)[pri:8, instance:com.tatahealth.EMR.Scripts.MasterAdministration.ServiceMaster@1a451d4d]<br/>ServiceMaster.Service_List_Test5(java.lang.String)[pri:6, instance:com.tatahealth.EMR.Scripts.MasterAdministration.ServiceMaster@1a451d4d]<br/></td></tr>
<tr><td>Service_List_Test7</td><td>ServiceMaster.Service_List_Test7(java.lang.String)[pri:7, instance:com.tatahealth.EMR.Scripts.MasterAdministration.ServiceMaster@1a451d4d]<br/></td></tr>
<tr><td>Service_Save_Test</td><td>ServiceMaster.Service_Save_Test(java.lang.String)[pri:14, instance:com.tatahealth.EMR.Scripts.MasterAdministration.ServiceMaster@1a451d4d]<br/></td></tr>
</table>
